@use "sass:map";
@use "@angular/material" as mat;

@use "themecolors/blue_theme";

@use "variables" as *;
@use "override-component";
@use "theme-variables/default-variables";
@use "theme-variables/light-theme-variables";

//container layout
@use "layouts/transitions";
@use "helpers/color";
@use "helpers/border-color";
@use "helpers/icon-size";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers/index";

@use "pages/auth";
@use "pages/dashboards";

/* Styles pour l'avatar rond avec une couleur pastel claire */
.avatar {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%; /* Pour rendre l'avatar rond */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #eeeeee;  /* Couleur du texte (blanc pour contraster avec la couleur pastel) */
    margin: 0 auto;
    opacity: 90%;
  }
  
  .avatar-text {
    text-transform: uppercase; /* Mettre les initiales en majuscule */
  }
  
  /* Styles pour une couleur pastel claire aléatoire */
  .avatar {
    background-color: #f8f0e3; /* Exemple de couleur pastel très claire (beige clair) */
  }
  