<div class="row">
  <div class="col-lg-8">
    <app-sales-profit></app-sales-profit>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-total-employes></app-total-employes>
      </div>
      <div class="col-12">
<app-total-voyageurs></app-total-voyageurs>    
  </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-popular-products></app-popular-products>
  </div>
  <div class="col-lg-4">
    <app-earning-reports></app-earning-reports>
  </div>
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
</div>
