<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/logo.jpg" class="align-middle m-2" style="width: 80px; height: auto; max-height: 80px;" alt="logo" />
            </a>
          </div>



          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="m-t-30">
            <!-- Name -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" placeholder="Enter your name" />
              <mat-error *ngIf="username.invalid && username.touched">Nom requis</mat-error>
            </mat-form-field>
          
            <!-- Email -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" placeholder="Enter your email" />
              <mat-error *ngIf="email.invalid && email.touched">Email invalide</mat-error>
            </mat-form-field>
          
            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" placeholder="Enter your password" />
              <mat-error *ngIf="password.invalid && password.touched">Mot de passe requis</mat-error>
            </mat-form-field>
          
            <button type="submit" mat-flat-button color="primary" class="w-100" [disabled]="signupForm.invalid">
              Sign Up
            </button>
          </form>
          
          <span class="d-block f-w-500 text-center m-t-24">Already have an Account?

            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>